<div id="edit_note_handle">
	<div id="edit_note_form" class="popup">
		<div class="content-note">
			<%= form_for @note, :html => {:'data-ajax' => :false, :'data-type' => :html}, :remote => true do |f| %>
				  <%= render "shared/flash_messages"%>	
				  <div id="content_section">
					  <%= f.label :content %>
					  <%= f.text_area :content %>
					  <%= f.label "Tags" %>
					  <%= f.text_field :tag_list %>
					  <%= f.hidden_field :latitude %>
						<%= f.hidden_field :longitude %> 
				  </div>
				  <div><%= f.submit "Submit", :id => "Submit"%></div>	  
			<% end %>
		</div>
	</div>
</div>