<%= javascript_include_tag "map" %>
<%= render "shared/map_header"%>
<div data-role="content">
	<div id="map"></div>
</div>
<div class="hidden">
	<%= render "notes/edit_note_form" %>
	<%= render "notes/note_form" %>
	<%= render @notes %>
</div>
