<%= javascript_include_tag "navigation" %>
<div id="header" data-role="header" data-position="fixed">
	<%= link_to 'Menu', root_path, "class" => "ui-btn-left", "data-icon" => "home" %>
	<h1>Notes</h1>
	<%= link_to 'Map', map_path, :id => "Map", "data-ajax" => "false", "class" => "ui-btn-right", "data-icon" => "grid" %>
</div>

<div data-role="content">
	<div class="content-notes">
		<%= render "shared/flash_messages"%>
		<ul data-role="listview" data-inset="true" data-filter="true">
	
			<% @notes.each do |note| %>
				<li class="note_cell">
						<%= link_to note, :id => "Note", :'data-ajax' => :false do %>
							<p class="note_content"><%= note.content %></p>
							<span class="note_tag">Tags: <span class="tag_list"><%= note.tag_list %></span></span><br />
							<span class="note_location">Location: <%= location_info(note) %></span>
						<% end %>
				</li>
			<% end %>
		
		</ul>
	</div>
</div>
