<%= javascript_include_tag "navigation" %>
<div id="header" data-role="header" data-position="fixed">
	<%= link_to 'Menu', root_path, "class" => "ui-btn-left", "data-icon" => "home" %>
	<h1>Notes</h1>
	<%= link_to 'Map', map_path, :id => "Map", "data-ajax" => "false", "class" => "ui-btn-right", "data-icon" => "grid" %>
</div>

<div data-role="content">
	<%= render "shared/flash_messages"%>
	<ul data-role="listview" data-inset="true" data-filter="true">

		<% @notes.each do |note| %>
			<li>
					<%= link_to note, :id => "Note", :'data-ajax' => :false, :class => :note_content do %>
						<h3><%= note.content %></h3>
						<% if note.tag_list.length != 0 then %>
							Tags: <span class="note_tag"><%= note.tag_list %></span>
						<% end %>
						<% if !note.region.nil? and !note.local.nil? then%>
							<br />Location: <%= "#{note.region.continent}, #{note.region.country}, #{note.region.state}, #{note.local.city}, #{note.local.borough}"%>
						<% end %>
					<% end %>
			</li>
		<% end %>
	
	</ul>
</div>
