<div id="header" data-role="header" data-position="fixed">
	<h1>GeoNotes Manager</h1>
</div>

<div data-role="content">
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  <%= render "shared/flash_messages"%>
		  <div id="login_section">
		  		<%= f.label :login %>
		  		<%= f.text_field :login %>
		  </div>
			<div id="password_section">
			  	<%= f.label :password %>
			  	<%= f.password_field :password %>
			</div>
		  <br />
		  <% if devise_mapping.rememberable? -%>
		  	<div>
		    	<%= f.check_box :remember_me %> <%= f.label :remember_me %>
		    </div>
		  <% end -%>
				<div><%= f.submit "Sign in" %></div>
		  	<%= render :partial => "devise/shared/links" %>
		<% end %>
</div>
