<div id="header" data-role="header" data-position="fixed">
	<h1>GeoNotes Manager</h1>
</div>

<div data-role="content">
	<ul data-role="listview">
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  <li>
		  	<div>
		  		<%= f.label :email %>
		  		<%= f.email_field :email %>
		  	</div>
			</li>
			<li>
			  <div>
			  	<%= f.label :password %>
			  	<%= f.password_field :password %>
			  </div>
		  </li>
		  <br />
		  <% if devise_mapping.rememberable? -%>
		  <li>
		    <div>
		    	<%= f.check_box :remember_me %> <%= f.label :remember_me %>
		    </div>
		  </li>
		  <% end -%>
			<li>
				<div><%= f.submit "Sign in" %></div>
		  	<%= render :partial => "devise/shared/links" %>
			</li>
		<% end %>
	</ul>
</div>
